@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  font-family: "Montserrat", serif;

  background-color: $second-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.ma-0 {
  margin: 0;
}

.mt-6 {
  padding-top: 24px;
}

.mt-7 {
  padding-top: 30px;
}

.pa-0 {
  padding: 0;
}

.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}

.gap-1 {
  gap: 0.25rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-6 {
  gap: 1.5rem;
}

.gap-8 {
  gap: 2rem;
}

.font-18 {
  font-size: 18px;
}

.color-destaq {
  color: $primary-color;
}

.text-center {
  text-align: center;
}

.title {
  color: $white-color;

  font-size: 2rem !important;
  font-weight: 300 !important;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1rem !important;
  font-weight: 400 !important;
  margin-bottom: 1.5rem;
  color: $white-light-color;
}
