:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  background-color: $second-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}

.gap-1 {
  gap: 0.25rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-6 {
  gap: 1.5rem;
}

.gap-8 {
  gap: 2rem;
}

.font-18 {
  font-size: 18px;
}
